# Section 1: Getting Started

## Using Jupyter Notebooks

To evaluate a cell, highlight the cell and press Shift+Enter. To create a new cell, hit the + button in the toolbar above. To create a cell for writing (as opposed to computing) such as this one, highlight the cell and switch its type to "Markdown" in the dropdown menu above.

## Expressions

Python handles several types of expressions; e.g., string, numerical and list expressions. Evaluate the following cells.

In [1]:
2 
# Numerical expression. 
# Note that statements following the pound symbol are not evaluated by Python.
# These are "comments" on your code. 
# Including lots of comments in your code is crucial for improving readability.

2

In [2]:
2.009 # Numerical expression

2.009

In [3]:
'abcd' # String expression. Note the quotation marks.

'abcd'

In [4]:
"abcd" # Double quotes also produces a string expression.

'abcd'

In [5]:
abcd # Without quotes, we get an error. Python wants to treat this as a variable (see the next section).

NameError: name 'abcd' is not defined

In [6]:
[2,3,4,5] # List expression. Elements of the list are numerical expressions.

[2, 3, 4, 5]

In [7]:
['a','b','c','defg'] # A list expression whose elements are string expressions.

['a', 'b', 'c', 'defg']

In [8]:
['a',234] # Lists can contain different types of expressions.

['a', 234]

In [9]:
[['a','b','c'],[123],'1',2] # Lists can contain lists.

[['a', 'b', 'c'], [123], '1', 2]

## Operations

There are several operations that can be performed on each type of expression. Let's explore some possiblilites.

### Numerical Operations

In [10]:
2+3 # Addition

5

In [11]:
2*3 # Multiplication

6

In [12]:
2**3 # Exponentiation

8

In [13]:
2**1000 # Note the "L" at the end of the output. This indicates that the type is a "long integer".

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [14]:
(2**3)**2+45-7*6 # Combinations of operations.

67

### Exercise
By playing around with examples, determine the numerical operation performed by the following symbols:
/ and %

What is the difference between 2/3 and 2.0/3.0?

### String Operations

In [15]:
'abcd'+'efgh' # Concatenation

'abcdefgh'

### List Operations

In [16]:
[1,2,3]+[4,5,6] # This is also concatenation, not vector addition!

[1, 2, 3, 4, 5, 6]

It makes sense that the above is concatenation, since it should make sense for lists of string expressions.

In [17]:
['a','b','c']+['cat','dog']

['a', 'b', 'c', 'cat', 'dog']

To perform vector operations, we need to use a package. A package is a collection of functions which need to be imported in order to use. A common package for linear algebra is called "numpy".

In [18]:
import numpy # Use this command to import numpy

To get vectors, we enter them as a new type of expression: numpy arrays.

In [19]:
numpy.array([1,2,3])

array([1, 2, 3])

In [20]:
numpy.array([1,2,3])+numpy.array([4,5,6]) # numpy arrays can be added.

array([5, 7, 9])

In [21]:
numpy.array(['a','b','c'])+numpy.array(['cat','dog']) # This does not make sense!

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U3'), dtype('<U3')) -> dtype('<U3')

We can also represent matrices as numpy arrays and perform standard operations.

In [ ]:
numpy.array([[1,2,3],[4,5,6]]) # A 2x3 matrix

In [ ]:
numpy.array([[1,2,3],[4,5,6]])+numpy.array([[1,0,0],[0,0,0]]) # Matrices can be added

In [ ]:
numpy.array([[1,2,3],[4,5,6]])*numpy.array([[2,1,0],[0,1,0]]) 
# This is not matrix multiplication. It multiplies matrices entry-wise.

We will see below how to multiply matrices in numpy. This is demonstrated in the "Functions" section.
In general, we will use the numpy package extensively in this course.

## Variables
In the operations above, we typed out the expression in each line. It is much more economical to store expressions in variables.

In [22]:
a = 2 # We define the variable "a" to represent the number 2.

In [23]:
b = 3

In [24]:
a*b # We can now perform operations on the variables

6

In [25]:
c = a**b # We can also define new variables by performing operations on the old ones
print(c)

8

Notice that there is no output when we define a variable. This is why the command print(c) was included in the previous cell.

In [26]:
string1 = 'cat'
string2 = 'dog'
string1+string2

'catdog'

Virtually any string of numbers and letters can be used as a variable. Some symbols are reserved, however. For example, we can't use "2" to denote a variable.

In [27]:
for = 5 
# 'for' is reserved to denote a command in a 'for loop'. This will be discussed below. 
# We get an error message if we attempt to use 'for' as a variable name.

SyntaxError: invalid syntax (<ipython-input-27-50d8479d7dac>, line 1)

We can use variables to store any type of expression, such as lists or numpy arrays.

In [28]:
L = ['a','b','c','d']

In [29]:
L + ['e','f']

['a', 'b', 'c', 'd', 'e', 'f']

In [30]:
aa = numpy.array([[3,2],[1,1]])
bb = numpy.array([[2,2],[3,3]])
aa+bb

array([[5, 4],
       [4, 4]])

Variables can be redefined.

In [31]:
a = 1
a = 2
print(a)

2

Variables can be redefined recursively.

In [32]:
a = a+1
print(a)

3

In [33]:
L = L + ['p','q','r','s']
print(L)

['a', 'b', 'c', 'd', 'p', 'q', 'r', 's']

# Section 2: Functions, Conditionals, Loops
## Functions
Python has many built-in functions. These are rules which take one (or several) expression(s) to (an)other expression(s), possibly of different types.

In [34]:
len('abc') # For example, "len()" is a function which takes a string to an integer.

3

In [35]:
string1 = 'abc123xyz' # Functions can be applied to variables.
len(string1)

9

In [36]:
list1 = ['cat','dog','mouse'] # len() can also take a list as input
len(list1)

3

The "type()" function tells you what type of expression the input is.

In [37]:
type('abc')

str

In [38]:
type(2) # Notice that 2 is a numerical expression, but is in particular an integer.

int

In [39]:
type(2.09) # The numerical expression 2.09 is "float" type.

float

In [40]:
type([1,2,3])

list

In [41]:
type(numpy.array([1,2,3]))

numpy.ndarray

"str()" is a function which converts a numerical expression to a string.

In [42]:
str(12345)

'12345'

Integers can be converted to floating point expressions via "float()".

In [43]:
float(2)

2.0

In [44]:
float('abc') # We can't convert strings to floats.

ValueError: could not convert string to float: 'abc'

### Functions in the math package
Other basic numerical operations are not included in basic Python

In [45]:
sqrt(2)

NameError: name 'sqrt' is not defined

In [46]:
log(2)

NameError: name 'log' is not defined

To get access to these operations, we can import a package. They exist in the `numpy` package that we already imported.

To use a function in the math package, we use the syntax "math.function()". This tells Python to use the function "function" from the package "math". For example:

In [47]:
numpy.sqrt(2)

1.4142135623730951

In [48]:
numpy.log(2)

0.6931471805599453

We will import packages frequently. Here are some tricks which are commonly used.

In [49]:
import numpy as np 
# Use an abbreviation for the imported package
# There are 'standard' abbreviations that most people use. You essentially always see numpy imported as np.

In [50]:
np.sqrt(2)

1.4142135623730951

In [51]:
np.log(2)

0.6931471805599453

Import specific functions from a package. We can abbreviate the function names if we want, but this is less common.

In [52]:
from numpy import sqrt as sq

In [53]:
sq(2)

1.4142135623730951

### Functions in the numpy Package

In [54]:
X = np.array([[1,2,3],[4,5,6]])
Y = np.array([[1,0,0],[0,1,1]])

To multiply numpy arrays, we use the function "matmul" from the numpy package. This function takes two matrices of the appropriate dimensions and computes their product. To call the function, we use the syntax np.matmul().

In [55]:
np.matmul(X,Y)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 2 is different from 3)

The previous command gives an error message, because the matrices don't make sense to multiply. To get a matrix of the correct size, we could use the transpose function.

In [56]:
Z = np.transpose(Y)

In [57]:
np.matmul(X,Z)

array([[ 1,  5],
       [ 4, 11]])

Some other useful functions are "size" and "shape".

In [58]:
np.size(X)

6

In [59]:
np.shape(X)

(2, 3)

### Defining functions
The power of learning a programming language is the ability to define your own functions! The syntax that is used to define a function is illustrated below.
This tells us that we define a function named "square" with a single input "x". The function returns the input times itself.

In [60]:
def square(x):
    return x*x
# The colon and "return" are crucial to define the function.

In [61]:
square(2)

4

In [62]:
a = 5
square(a)

25

Functions can be composed.

In [63]:
np.sqrt(square(2))

2.0

In [64]:
square(np.sqrt(2)) # The output shows some numerical error in the square root function.

2.0000000000000004

We can define functions which take/return any combination of expression(s).

In [65]:
def add_exclamation_point(string): # Descriptive function names are highly recommended.
    return string+'!'

In [66]:
add_exclamation_point('hello')

'hello!'

In [67]:
add_exclamation_point(123) # This will give an error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Exercise
Define a function "digits()" which takes a positive integer and returns its number of digits. Use it to compute the number of digits in 2**1000.

In [68]:
def digits(x):
    return len(str(x))

In [69]:
digits(2**1000)

302

## Conditionals
We can write more interesting functions using conditionals. The output of the function can depend on whether or not a given condition holds. The syntax of a conditional is demonstrated by the following example.

In [70]:
def is_this_a_string(x):
    if type(x)==str:       # Notice the double equals and the colon
        return 'Yes'
    else:                  # Colon appears here too
        return 'No'

In [71]:
is_this_a_string(1)

'No'

In [72]:
is_this_a_string('abc')

'Yes'

Another example:

In [73]:
def collatz(n):
    if n % 2 == 0:
        return n/2
    else:
        return 3*n + 1

In [74]:
collatz(3)

10

In [75]:
collatz(_) # "_" is a variable which holds the last value computed.

5.0

In [76]:
_

5.0

Conditionals can involve multiple conditions by using "elif", which means "else, if".

In [77]:
def sign(x):  # Input is a float
    if x < 0:
        return 'The number '+str(x)+' is negative'
    elif x>0:
        return 'The number '+str(x)+' is positive'
    else:
        return 'The number '+str(x)+' is neither positive nor negative'  
    # In the last step we just use "else", since all other possibilities have been ruled out.

In [78]:
print(sign(-1),sign(0),sign(1))

The number -1 is negative The number 0 is neither positive nor negative The number 1 is positive

## Loops
Loops are an essential part of programming. They allow you to tell the computer to perform an operation repeatedly. The number of times to repeat the operation can be given specifically by a "for loop".

In [79]:
k = 17; # We initialize some value of k
for i in range(0,20): # "range" is a function which produces a list containing the integers within the specified range
  print(i, k) 
  k = collatz(k)
# Each iteration of this for loop prints the pair (i,k) then updates k. 
# The iteration is performed for i = 0,1,2,...,19

0 17
1 52
2 26.0
3 13.0
4 40.0
5 20.0
6 10.0
7 5.0
8 16.0
9 8.0
10 4.0
11 2.0
12 1.0
13 4.0
14 2.0
15 1.0
16 4.0
17 2.0
18 1.0
19 4.0

Some more basic examples of things you can do with for loops are shown below.

In [80]:
# We will compute 1 + 2 + ... + 10

sum = 0
for i in range(1,11):
    sum = sum + i
sum

55

In [83]:
# We will invest money at 3% interest for 10 years:

sum = 100
for i in range(0,11):
    print(i, sum)
    sum = 1.03*sum

0 100
1 103.0
2 106.09
3 109.2727
4 112.550881
5 115.92740743
6 119.4052296529
7 122.987386542487
8 126.67700813876162
9 130.47731838292447
10 134.39163793441222

In [84]:
# Let's compute the sum of the first n terms of the harmonic series
# 1 + 1/2 + 1/3 + ... + 1/n

sum = 0
for n in range(1,100):
    sum = sum + 1.0/n
sum

5.177377517639621

## While Loops
You can also tell Python to iterate an operation until a stopping condition is met. This is called a "while loop". Before you run a while loop, make sure that the stopping condition will actually be met! Otherwise you might cause your computer to crash.

In [85]:
# Let's find out how many terms we need in the harmonic series to get sum >= 10.
n = 1
sum = 0
while sum < 10:
    sum = sum + 1.0/n
    n = n + 1
n

12368

In [90]:
# Let's find out how long it takes to pay off a loan:

balance = 5000.00
annual_rate = 0.09
monthly_rate = np.exp(np.log(1 + annual_rate)/12.0) - 1
monthly_factor = 1 + monthly_rate
monthly_payment = 150
month = 0

print("Monthly rate: %1.4f\n" %(monthly_rate))

# Use d to format integers.  For example %4d means 
# format an integer in a 4-character space.  Use f
# to format floating point numbers.  For example,
# %4.2f means format a floating point number with
# 4 characters to the left of the decimal point
# and 2 to the right.

while balance > 0:
    print("%4d: %4.2f" %(month, balance))
    balance = monthly_factor*balance - monthly_payment
    month = month + 1
    
print("\n%d months to pay off your loan" %(month))

Monthly rate: 0.0072

   0: 5000.00
   1: 4886.04
   2: 4771.25
   3: 4655.64
   4: 4539.19
   5: 4421.91
   6: 4303.78
   7: 4184.80
   8: 4064.96
   9: 3944.26
  10: 3822.69
  11: 3700.24
  12: 3576.91
  13: 3452.69
  14: 3327.57
  15: 3201.55
  16: 3074.63
  17: 2946.79
  18: 2818.03
  19: 2688.34
  20: 2557.71
  21: 2426.15
  22: 2293.63
  23: 2160.16
  24: 2025.73
  25: 1890.33
  26: 1753.96
  27: 1616.60
  28: 1478.25
  29: 1338.90
  30: 1198.55
  31: 1057.19
  32: 914.81
  33: 771.40
  34: 626.96
  35: 481.48
  36: 334.95
  37: 187.37
  38: 38.72

39 months to pay off your loan